line-length = 88
target-version = "py312"

[lint]
select = [
    "E",    # pycodestyle
    "F",    # pyflakes
    "B",    # bugbear
    "I",    # isort
    "UP",   # pyupgrade
    "N",    # pep8-naming
    "A",    # flake8-builtins
]
ignore = [
    "E203", # whitespace before ':'
    "E501", # line length handled by black-style formatter,
    "B008"  # Ignoring default values like ...
]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
skip-magic-trailing-comma = false
